<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>E2E Chart</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://rawgit.com/newrelic-forks/d3-plugins-sankey/master/sankey.js"></script>
    <script src="https://rawgit.com/misoproject/d3.chart/master/d3.chart.min.js"></script>
    <script src="https://rawgit.com/q-m/d3.chart.sankey/master/d3.chart.sankey.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/alertifyjs/1.6.1/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/default.min.css"/>
    <link rel="stylesheet" href="main.css">
</head>
<body onload="getChart()">
<section class="webdesigntuts-workshop">
    <span>
        <select id="field_name" class="secondary-input">
            <option value="screen_name" selected>Screen Name (Ex: 1001,1012 or Manage Profile)</option>
            <option value="facade_api">Facade API (Ex: 348 or getGeneralProfile)</option>
            <option value="core_api">Core Api (Ex: getFinancial or CancelOrder)</option>
            <option value="e_wsil">E WSIL (Ex: CustomerDetailsWSIL or Case)</option>
            <option value="l2">L2 (Ex: Account or Buy or Pay)</option>
        </select>
        <input class="secondary-input" id="field_values" placeholder="SC1001">
        <button onclick="getChart()">Submit</button>
    </span>
    <br />
    <!--<span id='response_text'>
This is the API map for Screen SC1001 and SC1012.
    </span> -->
    <div class="chartContainer">
        <div class="chartSubContainer">
            <div id="chart"></div>
        </div>
    </div>
</section>
<script src="sankey.js"></script>

</body>
</html>
